:root {
  /* Основные цвета */
  --white: #ffffff;
  --grey: #899d9d;
  --red: #e24949;
  --bg: #1d2f30;
  --bg-linear: rgba(29, 47, 48, 0.7);
  --bg-shade: #0b1919;
  --green-text: #506829;
  --primary: #bae249;
  --green-active: #688b05;
  --green-focus: #83a440;
  --green-hover: #91ac46;
}

/* Подключение шрифтов */
@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/Cormorant-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant-Italic";
  src: url("./assets/fonts/Cormorant-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  width: 100%;
  font-family: "Open-Sans", Arial, sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Cormorant", Arial, sans-serif;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

h2 {
  font-family: "Cormorant-Italic";
  font-style: italic;
  font-size: 3rem;
  font-weight: 1;
  color: var(--white);
}

h3 {
  font-family: "Cormorant";
  font-size: 1.5rem;
  font-weight: 1.5;
  color: var(--white);
}

:disabled {
  color: var(--grey);
}

.container,
.container-nav {
  padding-inline: 165px;
}

.container-nav {
  display: none;
  padding-top: 15px;
}

/* Компонент 'Исследовать' */
.explore {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
  border: none;
  outline: 0;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4375;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 2px;
  }
  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    bottom: 7px;
  }
  &::before {
    width: 43px;
    height: 2px;
    bottom: 10px;
    background: currentColor;
  }
  &:hover {
    width: 170px;
    color: var(--green-hover);
    &::before {
      width: 53px;
    }
  }
  &:focus-visible {
    outline: 1px solid var(--green-focus);
    outline-offset: 2px;
  }
  &:active {
    width: 10rem;
    color: var(--green-active);
    &::before {
      width: 43px;
      color: var(--green-active);
    }
  }
}

.explore.color--black {
  width: 10.375rem;
  color: var(--bg-shade);
  &:hover {
    width: 176px;
    color: var(--green-active);
  }
  &:active {
    width: 10.375rem;
    color: var(--bg-shade);
    &::before {
      color: var(--bg-shade);
    }
  }
}

/* Стили для header */
.header {
  background-color: var(--bg);
  padding-block: 20px;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  margin-left: 125px;
  & ul {
    display: flex;
    column-gap: 64px;

    & li a {
      display: block;
      font-size: 1rem;
      line-height: 1.5;
      color: var(--white);

      &:hover {
        color: var(--primary);
      }
      &:active {
        color: var(--green-active);
      }
      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: 1px solid var(--green-focus);
        outline-offset: 1px;
      }
    }
  }
}

.header__features {
  height: 24px;
  display: flex;
  justify-content: end;
  column-gap: 64px;
  flex: 1;
}

button:where(.search, .login) {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  &:focus-visible {
    outline: 1px solid var(--green-focus);
    outline-offset: 1px;
  }
  &:hover {
    .search-img,
    .login-img {
      stroke: var(--green-hover);
    }
  }
  &:active {
    .search-img,
    .login-img {
      stroke: var(--green-active);
    }
  }
}

/* Стили для card */
.start__description {
  background: linear-gradient(var(--bg-linear), var(--bg-linear)),
    url("./assets/images/background.jpg") center / cover no-repeat;
  & .container {
    padding-block: 115px;
    max-width: 688px;
    display: flex;
    row-gap: 22px;
    flex-direction: column;
  }
  & p {
    max-width: 625px;
    text-align: left;
  }
  &:has(h1, p) {
    color: var(--white);
  }
}

/* Стили для артефактов */
.artefacts {
  padding-block: 60px;
  background-color: var(--bg);
}

.artefact__card {
  box-sizing: border-box;
  width: 255px;
}

.artefact__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-shade);
  padding-block: 30px;
}

.artefact__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 313px;
  border: 1px solid var(--bg-shade);
  padding: 16px 16px 24px;
  & h3 {
    margin-bottom: 8px;
  }
  & p {
    margin-bottom: 10px;
    color: var(--grey);
  }
}

/* Стили для кнопок */
button[class="artefact__detail"] {
  box-sizing: border-box;
  align-self: baseline;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary);
  background-color: transparent;
  max-height: 45px;
  margin-top: auto;
  padding: 10.5px 28.5px;
  border: 1px solid var(--primary);
  outline: 0;
  &:hover {
    background-color: var(--primary);
    color: var(--bg-shade);
  }
  &:focus-visible {
    outline: 1px solid var(--green-focus);
    outline-offset: 3px;
  }
  &:active {
    color: var(--bg-shade);
    background-color: var(--green-active);
    border: 1px solid transparent;
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    color: var(--grey);
    background-color: transparent;
    border: 1px solid var(--grey);
    cursor: not-allowed;
  }
}

button[class="form__btn"] {
  box-sizing: border-box;
  color: var(--bg-shade);
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
  padding: 11.5px 26px;
  border: 0;
  outline: 0;
  &:hover {
    background-color: var(--green-hover);
  }
  &:focus-visible {
    outline: 1px solid var(--green-focus);
    outline-offset: 3px;
  }
  &:active {
    background-color: var(--green-active);
  }
  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: var(--grey);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Стили для Novelty */
.novelty {
  padding-bottom: 60px;
  background-color: var(--bg);
  & h2 {
    margin-bottom: 33px;
  }
}

.novelty__content {
  display: grid;
  grid-template-columns: 1fr 255px;
  gap: 30px;
}

.novelty__gallery {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 110px 49px 120px 50px 51px 95px 157px 53px 119px;
  grid-template-rows: 150px 293px;
  overflow-x: auto;
  max-width: 1000px;
  row-gap: 18px;
  -webkit-overflow-scrolling: touch;
  padding: 16px;
  background-color: var(--bg-shade);
}

.artefact__item {
  position: relative;
}

.item-1 {
  width: 110px;
  height: 115px;
}

.item-2 {
  width: 170px;
  height: 150px;
  grid-column: 3 / 5;
}

.item-3 {
  width: 423px;
  height: 150px;
  grid-column: 6/10;
}

.item-4 {
  width: 306px;
  height: 293px;
}

.item-5 {
  width: 153px;
  height: 293px;
  grid-column: 4/6;
}

.item-6 {
  width: 157px;
  height: 293px;
  grid-column: 7/8;
}

.item-7 {
  width: 119px;
  height: 293px;
  grid-column: 9/10;
}

span.artefact__indicator {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  font-family: "Cormorant";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875;
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
}

aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 493px;
  padding: 18px 16px 25px;
  background-color: var(--primary);
  & h3 {
    color: var(--bg-shade);
    margin-bottom: 6px;
  }
  & p {
    color: var(--bg-shade);
  }
  & .explore {
    margin-top: auto;
  }
}

/* Стили для блока с feedback-ом */
.feedback {
  padding: 60px 0;
  background: linear-gradient(var(--bg-linear), var(--bg-linear)),
    url("./assets/images/bg_feedback.jpg") center / cover no-repeat;
  & h2 {
    margin-bottom: 16px;
  }
  & p {
    max-width: 825px;
    color: var(--white);
    margin-bottom: 24px;
  }
}

.form {
  max-width: 350px;
}

.form__btn {
  align-self: baseline;
}

/* Стили для input */
input[type="text"],
input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  font-family: "Open-Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
  color: var(--bg-shade);
  background-color: var(--white);
  padding: 11.5px 0;
  padding-inline: 16px;
  border: 0;
  &:focus {
    outline: 0;
    background-color: var(--grey);
    &::placeholder {
      color: var(--white);
    }
  }
}

::placeholder {
  font-weight: 400;
  color: var(--grey);
}

.invalid::placeholder {
  color: var(--white);
}

.form__error {
  display: block;
  font-size: 0.75rem;
  line-height: 1.333333333;
  color: var(--red);
  transform: translate(16px, -3px);
}

.form__input {
  margin-bottom: 24px;
  &.invalid {
    background-color: var(--grey);
    border: 1px solid var(--red);
  }
}

/* footer */
.links {
  background-color: var(--bg-shade);
  padding-block: 18px;
}

.links__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  & li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    outline: 0;
    cursor: default;
    &:focus-visible {
      outline: 1px solid var(--green-focus);
    }
  }
}

.fa-brands {
  color: var(--grey);
  outline: 0;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
  &:active {
    color: var(--green-active);
  }
}

i:where(.icons-youtube, .icons-instagram, .icons-facebook, .icons-twitter) {
  font-size: 18px !important;
}

.rights {
  background-color: var(--bg);
  padding-block: 3px;
  & p {
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: center;
    color: var(--grey);
  }
}

/* Медиа-запросы формирования адаптивной верстки */
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1150px) {
  .header nav {
    display: none;
  }
  .container-nav {
    display: block;
  }
  .navbar {
    position: relative;
    scrollbar-color: transparent transparent; /* Скрываем scroll */
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-left: 0;
  }
}

@media screen and (max-width: 1075px) {
  .swiper-slide:first-child {
    margin-left: 50px;
  }
}

@media screen and (max-width: 875px) {
  .swiper-slide:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .container-nav {
    padding-inline: 50px;
  }
  .start__description {
    & p {
      display: none;
    }
    & .container {
      padding-block: 65px;
    }
  }
  .navbar ul {
    column-gap: 32px;
  }
  .swiper-slide:first-child {
    margin-left: 0;
  }
  .novelty__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 425px) {
  .container,
  .container-nav {
    padding-inline: calc(32px + (100vw - 425px) * (165 - 32) / (1440 - 425));
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .container,
  .container-nav {
    padding-inline: 32px;
  }

  .header__features {
    column-gap: 32px;
  }

  .start__description .container {
    padding-block: 30px;
  }

  .feedback {
    padding-block: 30px;
    & p {
      display: none;
    }
  }
}
