:root {
  /* Colors */
  --white: #ffffff;
  --grey: #899d9d;
  --red: #e24949;
  --bg: #1d2f30;
  --bg-linear: rgba(29, 47, 48, 0.7);
  --bg-shade: #0b1919;
  --green-text: #506829;
  --primary: #bae249;
  --green-active: #688b05;
  --green-focus: #83a440;
  --green-hover: #91ac46;
}

/* Стили */
@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("./assets/fonts/Cormorant-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant-Italic";
  src: url("./assets/fonts/Cormorant-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: "Open-Sans", Arial sans-serif;
}

/* #app {
  margin: 0 auto;
  max-width: 1440px;
} */

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Cormorant", Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

.h1-mobile {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  font-family: "Cormorant";
  font-size: 1.5rem;
  font-weight: 1.5;
  color: var(--white);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 165px;
}

:disabled {
  color: var(--grey);
}

/* Компонент 'Исследовать' */
.explore {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
  border: none;
  outline: 0;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4375;
}

.explore::after,
.explore::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 2px;
}

.explore::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
  bottom: 7px;
}

.explore::before {
  width: 43px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
}

.explore:hover {
  width: 170px;
  color: var(--green-hover);
}

.explore:hover::before {
  width: 53px;
}

.explore:focus-visible {
  outline: 1px solid var(--green-focus);
  outline-offset: 2px;
}

.explore:active {
  width: 160px;
  color: var(--green-active);
}

.explore:active::before {
  width: 43px;
  color: var(--green-active);
}

/* 
  HEADER 
*/
.header {
  padding: 20px 0;
  background-color: var(--bg);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  margin-left: 125px;
}

nav ul {
  display: flex;
  column-gap: 64px;
}

nav ul li a {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

nav ul li a:hover {
  color: var(--primary);
}

nav ul li a:active {
  color: var(--green-active);
}

nav ul li a:focus {
  outline: none;
}

nav ul li a:focus-visible {
  outline: 1px solid var(--green-focus);
  outline-offset: 1px;
}

.header__features {
  height: 24px;
  display: flex;
  justify-content: end;
  column-gap: 64px;
  flex: 1;
}

button:where(.search, .login) {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

/* 
  CARD
 */
.start__description {
  padding: 115px 0;
  background: linear-gradient(var(--bg-linear), var(--bg-linear)),
    url("./assets/images/background.jpg") center / cover no-repeat;
}

.start__description .container {
  max-width: 688px;
  display: flex;
  row-gap: 22px;
  flex-direction: column;
}

.start__description p {
  max-width: 625px;
  text-align: left;
}

.start__description:has(h1, p) {
  color: var(--white);
}

/* 
  Artefacts
*/
.artefacts {
  padding: 60px 0;
  background-color: var(--bg);
}

.artefact__card {
  width: 255px;
}

.artefact__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-shade);
  padding: 30px 0;
}

.artefact__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 313px;
  border: 1px solid var(--bg-shade);
  padding: 16px 16px 24px 16px;
}

.artefact__content h3 {
  margin-bottom: 8px;
}

.artefact__content p {
  margin-bottom: 10px;
  color: var(--grey);
}

/* Кнопки */

button[class="artefact__detail"] {
  box-sizing: border-box;
  align-self: baseline;
  outline: 0;
  background-color: transparent;
  margin-top: auto;
  font-size: 1rem;
  line-height: 1.5;
  max-height: 45px;
  padding: 10.5px 28.5px;
  color: var(--primary);
  border: 1px solid var(--primary);
}

button[class="artefact__detail"]:hover {
  background-color: var(--primary);
  color: var(--bg-shade);
}

button[class="artefact__detail"]:focus-visible {
  outline: 1px solid var(--green-focus);
  outline-offset: 3px;
}

button[class="artefact__detail"]:active {
  border: 1px solid transparent;
  background-color: var(--green-active);
  color: var(--bg-shade);
}

button[class="artefact__detail"]:disabled,
button[class="artefact__detail"]:disabled:hover,
button[class="artefact__detail"]:disabled:active {
  cursor: not-allowed;
  border: 1px solid var(--grey);
  color: var(--grey);
  background-color: transparent;
}

/* 
  Input-ы
*/
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 11.5px 0;
  padding-inline: 16px;
  border: 0;
  background-color: var(--white);
  color: var(--bg-shade);
  font-family: "Open-Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
}

::placeholder {
  font-weight: 400;
  color: var(--grey);
}

input[type="text"]:focus {
  outline: 0;
  background-color: var(--grey);
}

input[type="text"]:focus::placeholder {
  color: var(--white);
}

/* Возможное решение смены цвета - событие через JS */
input[type="text"]:focus-visible {
  background-color: var(--white);
  outline: 1px solid var(--green-focus);
  outline-offset: 3px;
}

/* 
  Адаптив 
*/
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1150px) {
  /* #app {
    max-width: 768px;
  } */
  .header nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 50px;
  }
  .start__description p {
    display: none;
  }
}

@media (min-width: 425px) {
  .container {
    padding-inline: calc(32px + (100vw - 425px) * (165 - 32) / (1440 - 425));
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding-inline: 32px;
  }

  .start__description {
    padding: 30px 0;
  }
}
